<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>商品名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>电视机</td>
                <td><a href="http://localhost:8080/buy?name=电视机">加入购物车</a></td>
            </tr>
            <tr>
                <td>洗衣机</td>
                <td><a href="http://localhost:8080/buy?name=洗衣机">加入购物车</a></td>
            </tr>
            <tr>
                <td>吹风机</td>
                <td><a href="http://localhost:8080/buy?name=吹风机">加入购物车</a></td>
            </tr>
            <tr>
                <td>打火机</td>
                <td><a href="http://localhost:8080/buy?name=打火机">加入购物车</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>